:root {
  --primary-guidon-main: #1c4480;
  --font-chivo: 'Chivo', 'ChivoFallback';
  --font-atlas-grotesk: 'AtlasGrotesk', 'AtlasGroteskFallback';
  --font-freight-text: 'FreightText', 'FreightText';
  --font-tiempos-headline: 'TiemposHeadline', 'TiemposHeadline';
}
