---

---

<button>
  <slot />
</button>

<style>
  button {
    aspect-ratio: 3;
    width: 5.5rem;
    font-size: 0.75rem;
    font-family: var(--font-chivo);
    font-weight: 700;
    color: var(--primary-guidon-main);
    border: none;
    border-radius: 4px;
  }
</style>
