---

---

<button>
  <slot />
</button>

<style>
  button {
    aspect-ratio: 3;
    width: 5.5rem;
    font-size: 0.75rem;
    font-family: var(--font-chivo);
    font-weight: 700;
    color: var(--primary-guidon-main);
    border: none;
    border-radius: 4px;
    background-color: #efefef;
    padding-block: 1px;
    padding-inline: 6px;
  }

  @media (min-width: 700px) {
    button {
      font-size: 0.875rem;
      width: 7rem;
    }
  }
</style>
